{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="row-fluid">
    <div class="panel panel-default col-md-6 col-md-push-3">
        <div class="span3">
            <div class="panel-body">
                <legend>Ingrese los datos del producto</legend>
                <form class="form-group" method='POST' enctype="multipart/form-data">
                    {% csrf_token %} {{ form|crispy }}
                    <hr>
                    <a class="btn btn-warning pull-right" href="{% url 'list_items' %}" style="text-decoration: none;">Volver</a>
                    <button class="btn btn-primary pull-right" type="submit">Aceptar</button>&nbsp;
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}