<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="row-fluid">
        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'add_item' %}"><p>Agregar nuevo producto</p></a>
                </li>
                <li>
                    <a href="{% url 'list_items' %}">Listar productos</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Salir</a>
                </li>
            </ul>
        </nav>
        <section text-align="center">
            <aside>
                {% block content %} {% endblock %}
            </aside>
        </section>
</body>

</html>