{% extends 'base.html' %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
    <caption>
        <h2 class="text-center thead-light">Items</h2>
    </caption>
    <table class="table">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Permalink</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>$ {{ item.price }}</td>
                <td><a href={{ item.permalink }} target="_blank">link</a></td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="4">No hay items para mostrar</td>
            </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th>#ID</th>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Permalink</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock content %}