
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenido</h1>
            <p>Debes iniciar sesión en MercadoLibre.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href={{ redirect_url }}>Login</a>
            </p>
        </div>
    </div>

</body>

</html>